{# templates/panier/panier.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
       <div class="container mt-5">
       

    <div class="container mt-5">
        {# Augmentez la marge supérieure ici pour décaler le titre vers le bas #}

        {% if eventsInPanier is not empty %}
            
                {% for event in eventsInPanier %}
                    <div class="col-md-4 mb-4">
                    
                        <div class="card">
                            <img src="{{ asset('uploads/images/' ~ event.getImage()) }}" class="card-img-top" alt="{{ event.getNomevent() }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.getNomevent() }}</h5>
                                <p class="card-text">{{ event.getDescriptionevent() }}</p>
                                {# Ajoutez d'autres détails de l'événement selon vos besoins #}
                                <a href="{{ path('showDetails', {'i': event.getIdEvent()}) }}" class="btn btn-primary">Voir les détails</a>
                                 <a href="{{ path('paiement', {'i': event.getIdEvent()}) }}" class="btn btn-success">Payer</a>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Votre panier est vide.</p>
        {% endif %}
    </div>
    <style>
    .card {
        margin-top: 80px; /* Ajoutez la marge supérieure souhaitée */
    }
</style>
{% endblock %}
