{% extends 'base.html.twig' %}

{% block title %}Welcome to Service Shop!{% endblock %}

{% block body %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Welcome to our services</h6>
                    <h2>Check & Exchange</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="upcoming-meetings" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="col-lg-12">
                            <div class="filters">

                                <ul>
                                    <b>filter now with your special choice :</b>
                                    <button class="btn btn-primary"   href="{{ path('app_orders_index') }}" >low Price </button>
                                    <button class="btn btn-primary"   href="{{ path('app_orders_index') }}" >top rated </button>
                                    <button class="btn btn-primary"   href="{{ path('app_orders_index') }}" > Promotion ! </button>

                                </ul>
                            </div>
                        </div>                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories">
                        <h4>Meeting Catgories</h4>
                        <ul>
                            <li><a href="#">Sed tempus enim leo</a></li>
                            <li><a href="#">Aenean molestie quis</a></li>
                            <li><a href="#">Cras et metus vestibulum</a></li>
                            <li><a href="#">Nam et condimentum</a></li>
                            <li><a href="#">Phasellus nec sapien</a></li>
                        </ul>
                        <div class="main-button-red">
                            <a href="meetings.html">All Upcoming Meetings</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row ">
                        <section class="meetings-page" id="meetings">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">

                                            <div class="row">
                                                {% for service in services %}
                                                    <div class="col-lg-4">
                                                        <div class="meeting-item">
                                                            <div class="thumb" style="text-align: center;">
                                                                {% if service.getImg() is not null %}
                                                                    <img src="{{ asset('uploads/images/' ~ service.getImg()) }}" alt="{{ service.getServicename() }}" style="width: 200px; height: auto; margin: 0 auto;">
                                                                {% else %}
                                                                    <p>No image available</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="down-content">
                                                                <div class="date">
                                                                    <h6 >NAME OF THE SERVICE : {{ service.getServicename() }}</h6>
                                                                </div>
                                                                <h4>PRICE FOR THIS SERVICE : {{ service.getPrice() }}</h4>
                                                                <button class="btn btn-primary" href="{{ path('app_orders_index') }}">Add me!</button>
                                                                <a href="{{ path('app_orders_index') }}" class="btn">Go To Your Basket - - ></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
